body {
  background-color: #eee !important;
}


@media (max-width: 768px) {
  a.btn-block {
    float: right;
    display: block;
    width: 75%;
  }

  a.btn-block:not(:last-child) {
    margin-bottom: .8rem;
  }

  div.work-day-details {
    margin-left: 0;
  }
}

@media (max-width: 375px) {
  .work-data {
    width: 100%;
    padding: 0 !important;
  }

  .new-work-day-form {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .collapsible {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  button.collapsible-btn {
    border-radius: 0 !important;
    text-align: left;
  }

  div.collapsible-content {
    border-radius: 0 !important;
  }
}

/* HomePage styling */

table.work-day-table {
  border-radius: 15px;
}

table.work-day-table th {
  background-color: #517841;
  color: #eee;
}

div.page-title h1 {
  letter-spacing: .1rem;
  font-weight: 500;
}

/* ViewHoursPage styling */
.work-day-card {
  background-color: #517841;
  color: #eee
}

.work-day-details {
  margin-left: 2rem;
  background-color: #a8bca0;
  color: #333;
}

.work-day-card {
  letter-spacing: .1rem;
}

.card-header {
  letter-spacing: .2rem;
}

/* NewHoursPage styles */

button.collapsible-btn {
  background-color: #517841;
  color: #eee;
  border-radius: 0;
}

button.collapsible-btn:hover {
  background-color: #a8bca0;
  color: #333;
}

div.collapsible-content {
  background-color: rgba(168, 188, 160, .6);
  color: #333;
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  font-size: 1.2rem;
}

button.btn-submit {
  background-color: #517841;
  color: #eee;
  font-size: 1.2rem;
  width: 100%;
}

button.btn-submit:hover {
  background-color: #a8bca0;
  color: #333;
}